In [1]:
import pandas as pd
history = pd.read_csv('history.csv')
risk_info = pd.read_csv('risk_area.csv')
details = pd.read_csv('details.csv')

In [5]:
history.head(5)

,ds,confirm,confirm_add,confirm_now,heal,heal_add,dead,dead_add,importedCase,importedCase_add
0,2022-09-01,5974028,35968,5627114,322031,815,24883,47,22544,55
1,2022-09-02,6009747,35719,5662088,322732,701,24927,44,22606,62
2,2022-09-03,6044288,34541,5695729,323583,851,24976,49,22676,70
3,2022-09-04,6080405,36117,5731157,324229,1004,25019,92,22722,46
4,2022-09-05,6106096,25645,5756234,324804,1259,25058,131,22768,46

In [6]:
risk_info.head(5)

   id end_update_time province city county     address type
0   1  2022-11-28 11时      北京市  朝阳区  呼家楼街道  关北街21号楼1单元  高风险
1   2  2022-11-28 11时      北京市  朝阳区  呼家楼街道      关东店5号楼  高风险
2   3  2022-11-28 11时      北京市  朝阳区  呼家楼街道      光华路1号楼  高风险
3   4  2022-11-28 11时      北京市  朝阳区  呼家楼街道     好世界商业广场  高风险
4   5  2022-11-28 11时      北京市  朝阳区  呼家楼街道    核桃园北里甲3号  高风险

In [13]:
details

,id,update_time,province,confirm,confirm_add,confirm_now,heal_add,heal,dead,dead_add
0,1,2022-11-24,台湾,8210955,17883,8183111.0,0.0,13742,14102,31
1,2,2022-08-01,台湾,4604761,16576,NaN,0.0,13742,8963,36
2,3,2022-08-02,台湾,4628294,23533,NaN,0.0,13742,8994,31
3,4,2022-08-03,台湾,4652186,23892,NaN,0.0,13742,9026,32
4,5,2022-08-04,台湾,4675128,22942,NaN,0.0,13742,9082,56
...,...,...,...,...,...,...,...,...,...,...
4721,4722,2022-12-17,江西,1549,0,15.0,0.0,1533,1,0
4722,4723,2022-12-17,宁夏,239,0,15.0,0.0,224,0,0
4723,4724,2022-12-17,甘肃,1561,0,10.0,0.0,1549,2,0
4724,4725,2022-12-17,西藏,1515,0,4.0,0.0,1511,0,0
4725,4726,2022-12-17,河北,2877,13,1665.0,7.0,4535,7,0

In [2]:
global details
details = details.sort_values('update_time')
details_province = details.groupby('province')
data = details_province.apply(lambda x:x.tail(1))['confirm']
province_data = {}
for index, confirm in zip(data.index, data.values):
    province_data[index[0]] = confirm

In [3]:
province_data

{'上海': 65102,
 '云南': 5063,
 '内蒙古': 8318,
 '北京': 26660,
 '台湾': 8547315,
 '吉林': 40480,
 '四川': 11560,
 '天津': 2695,
 '宁夏': 239,
 '安徽': 1699,
 '山东': 4678,
 '山西': 5038,
 '广东': 58258,
 '广西': 2438,
 '新疆': 2632,
 '江苏': 3769,
 '江西': 1549,
 '河北': 2877,
 '河南': 8897,
 '浙江': 6029,
 '海南': 10422,
 '湖北': 68861,
 '湖南': 2462,
 '澳门': 1365,
 '甘肃': 1561,
 '福建': 7253,
 '西藏': 1515,
 '贵州': 1777,
 '辽宁': 3066,
 '重庆': 9196,
 '陕西': 5480,
 '青海': 524,
 '香港': 482878,
 '黑龙江': 5433}

In [27]:
type(data)

pandas.core.frame.DataFrame

In [14]:
global history
history.ds

0      2022-09-01
1      2022-09-02
2      2022-09-03
3      2022-09-04
4      2022-09-05
          ...
101    2022-12-12
102    2022-12-13
103    2022-12-14
104    2022-12-15
105    2022-12-16
Name: ds, Length: 106, dtype: object

In [19]:
history.ds = pd.to_datetime(history.ds)
history.set_index('ds', inplace=True)

In [27]:
data = history['2022-11-01':'2022-12-31']
data.index.values

array(['2022-11-01T00:00:00.000000000', '2022-11-02T00:00:00.000000000',
       '2022-11-03T00:00:00.000000000', '2022-11-05T00:00:00.000000000',
       '2022-11-06T00:00:00.000000000', '2022-11-07T00:00:00.000000000',
       '2022-11-08T00:00:00.000000000', '2022-11-09T00:00:00.000000000',
       '2022-11-10T00:00:00.000000000', '2022-11-11T00:00:00.000000000',
       '2022-11-12T00:00:00.000000000', '2022-11-13T00:00:00.000000000',
       '2022-11-14T00:00:00.000000000', '2022-11-15T00:00:00.000000000',
       '2022-11-16T00:00:00.000000000', '2022-11-17T00:00:00.000000000',
       '2022-11-18T00:00:00.000000000', '2022-11-19T00:00:00.000000000',
       '2022-11-20T00:00:00.000000000', '2022-11-21T00:00:00.000000000',
       '2022-11-22T00:00:00.000000000', '2022-11-23T00:00:00.000000000',
       '2022-11-24T00:00:00.000000000', '2022-11-25T00:00:00.000000000',
       '2022-11-26T00:00:00.000000000', '2022-11-27T00:00:00.000000000',
       '2022-11-28T00:00:00.000000000', '2022-11-29T00:00:00.000000000',
       '2022-11-30T00:00:00.000000000', '2022-12-01T00:00:00.000000000',
       '2022-12-02T00:00:00.000000000', '2022-12-03T00:00:00.000000000',
       '2022-12-04T00:00:00.000000000', '2022-12-05T00:00:00.000000000',
       '2022-12-06T00:00:00.000000000', '2022-12-07T00:00:00.000000000',
       '2022-12-08T00:00:00.000000000', '2022-12-09T00:00:00.000000000',
       '2022-12-10T00:00:00.000000000', '2022-12-11T00:00:00.000000000',
       '2022-12-12T00:00:00.000000000', '2022-12-13T00:00:00.000000000',
       '2022-12-14T00:00:00.000000000', '2022-12-15T00:00:00.000000000',
       '2022-12-16T00:00:00.000000000'], dtype='datetime64[ns]')